header { 

  background-color: #00fedc; 

  color: white; 

  text-align: center; 

  padding: 20px; 

} 
body { 

  margin: 0; 

  font-family: Arial, Helvetica, sans-serif; 

  background-color: #ffe195; 

  color: #262626; 

} 
section {
    background-color: #3f4a49; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    color: #ffffff;
    padding: 20px;

}