header { 
  background-color: #002fff; 
  color: white; 
  text-align:center;
  padding: 20px;
} 


body { 

  margin: 0; 

  font-family: Arial, Helvetica, sans-serif; 

  background-color: #a0a0a0; 

  color: #262626; 

} 
section {
    background-color: #ffffff; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em;
    color: #000000;
    padding: 20px;
    margin: 10px ;
    border-radius: 10px;

}
footer {
    background-color: #0022ff;
    color: white; 

     text-align: center; 

     padding: 20px; 
     max-height: 50px;

}
